.DS_Store
copy edits for website.txt
Website Copy - Edit Doc.txt
cheyenne-turquoise.mp4
faces_web-*.png
geometric_web-*.png
zozobra _hutton1.png
zozobra _hutton7.jpg
vintage collage.JPG
illustration.JPG
garden logo.png
portfolio.html
squarespace-injection.html
visualizer-embed.html
visualizer-site/
_redirects
